# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-source:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Build and Update
      run: |
        echo -n "0.1.$GITHUB_RUN_NUMBER" > VERSION
        echo "$GITHUB_RUN_NUMBER"
        pip install -q build
        python -m build -s
    - name: Upload Build Files
      uses: actions/upload-artifact@v2
      with:
        name: build_results
        path: dist/*
  build-wheel:
    runs-on: ubuntu-latest
    needs: build-source
    strategy:
      matrix:
        python-version: [cp36-cp36m, cp37-cp37m, cp38-cp38]
    container:
      image: quay.io/pypa/manylinux2014_x86_64
    steps:
    - name: Download Build Files
      uses: actions/download-artifact@v2
      with:
        name: build_results
    - name: build-wheel
      run: |
        mkdir /output
        echo -n "quantregpy-0.1.$GITHUB_RUN_NUMBER.tar.gz"
        /opt/python/${{ matrix.python-version }}/bin/pip wheel ./* -w output   
        auditwheel repair ./output/quantregpy*whl -w ./output
    - name: upload-wheel
      uses: actions/upload-artifact@v2
      with:
        name: build_results
        path: output/quantregpy*whl
  build-wheel-win:
    runs-on: windows-latest
    needs: build-source
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
    steps:
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Download Build Files
      uses: actions/download-artifact@v2
      with:
        name: build_results
    - name: Build windows wheel
      run: |
        FOR /F "tokens=*" %g IN ('dir /b/s quantregpy*.tar.gz') do (SET VAR=%g) 
        pip wheel "%VAR%" -w output
    - name: Upload Build Files
      uses: actions/upload-artifact@v2
      with:
        name: build_results
        path: ./output/*
